$primary-color: #353535;
$secondary-color: #a6a6a6;
$blueish-color: #0fa0ff;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: $primary-color;
  overflow-x: hidden;
  &.darkMode {
    background: $primary-color;
    color: white;
    * {
      color: white;
    }
    header {
      background: $primary-color;
    }
    .skillsSection__skillsCards__singleCard__circle {
      background: $secondary-color;
    }
    .projectsSection__frame__projectInfo {
      a {
        border-color: white;
      }
      background: $primary-color;
    }
    .projectsSection__frame__projectInfo__pin path,
    .social svg path {
      fill: white;
    }
    .projectsSection .arrow path {
      fill: white;
    }
    .contactSection__form {
      box-shadow: 0 0px 2px white;
      border-color: white;
      &__inputs__singleInput,
      &__textarea {
        color: $primary-color;
      }
    }
    .navLinks__item::after {
      background: white;
    }
    .aboutSection__doubleArrows path {
      fill: white;
    }
    .navLinks {
      background: $primary-color !important;
    }
    .projectsSection__dots__singleDot {
      border-color: white;
      &.active {
        background: white;
      }
    }
    footer .email svg path {
      fill: white;
    }
  }
}
::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-thumb {
  background: $blueish-color;
  border-radius: 10px;
}

.text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 27px;
}
.title::first-letter {
  padding: 7px 0;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $blueish-color;
}
