$primary-color: #353535;
$secondary-color: #a6a6a6;
$blueish-color: #0fa0ff;
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: $primary-color;
}

.text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 27px;
}
.title::first-letter {
  width: 10px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $blueish-color;
}
