$primary-color: #353535;
$secondary-color: #a6a6a6;
$blueish-color: #0fa0ff;
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
