@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #353535;
  overflow-x: hidden;
}

body.darkMode {
  background: #353535;
  color: white;
}

body.darkMode * {
  color: white;
}

body.darkMode header {
  background: #353535;
}

body.darkMode .skillsSection__skillsCards__singleCard__circle {
  background: #a6a6a6;
}

body.darkMode .projectsSection__frame__projectInfo {
  background: #353535;
}

body.darkMode .projectsSection__frame__projectInfo a {
  border-color: white;
}

body.darkMode .projectsSection__frame__projectInfo__pin path,
body.darkMode .social svg path {
  fill: white;
}

body.darkMode .projectsSection .arrow path {
  fill: white;
}

body.darkMode .contactSection__form {
  -webkit-box-shadow: 0 0px 2px white;
          box-shadow: 0 0px 2px white;
  border-color: white;
}

body.darkMode .contactSection__form__inputs__singleInput, body.darkMode .contactSection__form__textarea {
  color: #353535;
}

body.darkMode .navLinks__item::after {
  background: white;
}

body.darkMode .aboutSection__doubleArrows path {
  fill: white;
}

body.darkMode .navLinks {
  background: #353535 !important;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background: #0fa0ff;
  border-radius: 10px;
}

.text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 27px;
}

.title::first-letter {
  padding: 7px 0;
  width: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #0fa0ff;
}

header {
  height: 10vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 4fr 1fr 10%;
      grid-template-columns: 10% 1fr 4fr 1fr 10%;
  color: #a6a6a6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fff));
  background: linear-gradient(to bottom, #fafafa, #fff);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

header.hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

header.active {
  background: #fff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 1px 5px #a6a6a6;
          box-shadow: 0 1px 5px #a6a6a6;
}

.hamburger {
  display: none;
}

.logo {
  text-decoration: none;
  color: #a6a6a6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.navLinks__item {
  color: #a6a6a6;
  text-decoration: none;
  position: relative;
}

.navLinks__item__icon {
  display: none;
}

.navLinks__item:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.navLinks__item::after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  content: "";
  position: absolute;
  width: 100%;
  border-radius: 30px;
  height: 2px;
  bottom: -4px;
  left: 50%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  background-color: #a6a6a6;
}

.colorMode {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.colorMode__image {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.aboutSection {
  margin-top: 15vh;
  min-height: 80vh;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.aboutSection__doubleArrows {
  opacity: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 130px;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  left: 50%;
  position: absolute;
  -webkit-animation: bounce 1s ease-in-out infinite alternate;
          animation: bounce 1s ease-in-out infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0) translateX(-50%) rotate(90deg);
            transform: translateY(0) translateX(-50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(20px) translateX(-50%) rotate(90deg);
            transform: translateY(20px) translateX(-50%) rotate(90deg);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0) translateX(-50%) rotate(90deg);
            transform: translateY(0) translateX(-50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(20px) translateX(-50%) rotate(90deg);
            transform: translateY(20px) translateX(-50%) rotate(90deg);
  }
}

.aboutSection__doubleArrows__arrow {
  width: 20px;
  height: 20px;
}

.aboutSection__doubleArrows__arrow:first-child {
  position: relative;
  left: 8px;
}

.aboutSection__aboutMeCard {
  padding: 15px 20px 40px;
  min-height: 70vh;
  width: 450px;
  border: 1px solid #a6a6a6;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -ms-grid-rows: 200px 1fr;
      grid-template-rows: 200px 1fr;
}

.aboutSection__aboutMeCard__image {
  width: 100%;
}

.aboutSection__aboutMeCard__clipIcon {
  position: absolute;
  top: 10px;
  left: 18px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.aboutSection__aboutMeCard__clipIcon2 {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.aboutSection__aboutMeCard__mainInfo {
  color: #353535;
  padding-left: 20px;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutSection__aboutMeCard__mainInfo__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutSection__aboutMeCard__mainInfo__item__icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.aboutSection__aboutMeCard__secondaryInfo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  border: 1px solid #a6a6a6;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 10px;
  position: relative;
}

.aboutSection__aboutMeCard__secondaryInfo__pinIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.aboutSection__svgScene {
  margin-bottom: 150px;
  position: relative;
  top: -50px;
}

.skillsSection {
  min-height: 80vh;
  padding: 150px 15%;
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skillsSection .title {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 150px;
}

.skillsSection__skillsCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
}

.skillsSection__skillsCards__singleCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skillsSection__skillsCards__singleCard__circle {
  margin: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #353535;
  position: relative;
}

.skillsSection__skillsCards__singleCard__circle__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skillsSection__skillsCards__singleCard__info h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.skillsSection__skillsCards__singleCard__info p {
  font-weight: 300;
  line-height: 27px;
}

.skillsSection__additionalInfo {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 70px;
}

.projectsSection {
  min-height: 80vh;
  padding: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.projectsSection .arrow {
  z-index: 1;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.projectsSection__leftArrow {
  left: 250px;
}

.projectsSection__rightArrow {
  right: 250px;
}

.projectsSection .title {
  font-size: 3.2rem;
}

.projectsSection__frame {
  overflow: hidden;
  margin: 50px 0;
  width: 50vw;
  height: 60vh;
  position: relative;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.projectsSection__frame__projectInfo {
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 250px;
  min-height: 250px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.projectsSection__frame__projectInfo__pin {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 13px;
}

.projectsSection__frame__projectInfo__buttons {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projectsSection__frame__projectInfo__buttons__link {
  text-decoration: none;
  color: #353535;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid #353535;
  padding: 3px 12px;
}

.projectsSection__frame__projectInfo__description {
  font-weight: 300;
  font-size: 1.3rem;
}

.projectsSection__frame__slider {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectsSection__frame__slider__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.projectsSection__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectsSection__dots__singleDot {
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #353535;
}

.projectsSection__dots__singleDot:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projectsSection__dots__singleDot.active {
  background: #353535;
}

.contactSection {
  min-height: 60vh;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactSection .title {
  font-size: 3.2rem;
}

.contactSection__form {
  padding: 0 50px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 400px;
  width: 700px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.contactSection__form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactSection__form__inputs__singleInput {
  margin-top: 20px;
  padding: 9px 10px;
  width: 190px;
  color: #353535;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: 1px solid #a6a6a6;
}

.contactSection__form__inputs__singleInput:focus {
  border-color: #0fa0ff;
}

.contactSection__form__textarea {
  padding: 10px;
  resize: none;
  height: 120px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #a6a6a6;
}

.contactSection__form__textarea:focus {
  border-color: #0fa0ff;
}

.contactSection__form__button {
  padding: 9px 20px;
  border-radius: 30px;
  background: #0fa0ff;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer {
  padding: 50px 20px 20px 20px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #353535;
}

footer .email img {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

footer .copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social svg {
  margin-right: 12px;
  width: 35px;
  height: 35px;
}

footer .social svg path {
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

footer .social svg:hover path {
  fill: #0fa0ff;
}

@media screen and (max-width: 1250px) {
  .projectsSection__leftArrow {
    left: 150px;
  }
  .projectsSection__rightArrow {
    right: 150px;
  }
}

@media screen and (max-width: 867px) {
  .skillsSection__skillsCards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projectsSection__leftArrow {
    left: 50px;
  }
  .projectsSection__rightArrow {
    right: 50px;
  }
  .projectsSection__frame {
    width: 70vw;
  }
  .contactSection__form {
    width: 70vw;
  }
  .contactSection__form__inputs__singleInput {
    width: 220px;
  }
  footer {
    font-size: 1.3rem;
  }
  footer .social svg {
    width: 25px;
    height: 25px;
  }
  .navLinks {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 30vh;
    width: 100%;
    background: #fafafa;
    -webkit-box-shadow: 0 1px 5px #a6a6a6;
            box-shadow: 0 1px 5px #a6a6a6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(100px at 800px -200px);
            clip-path: circle(100px at 800px -200px);
    -webkit-transition: -webkit-clip-path 0.4s ease-in-out;
    transition: -webkit-clip-path 0.4s ease-in-out;
    transition: clip-path 0.4s ease-in-out;
    transition: clip-path 0.4s ease-in-out, -webkit-clip-path 0.4s ease-in-out;
  }
  .navLinks.open {
    -webkit-clip-path: circle(1200px at 800px -200px);
            clip-path: circle(1200px at 800px -200px);
  }
  .navLinks__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 1px;
  }
  .navLinks__item__icon {
    margin-right: 15px;
    display: block;
    width: 18px;
    height: 18px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .logo__image {
    width: 20px;
    height: 20px;
  }
  .hamburger {
    cursor: pointer;
    display: block;
    width: 40px;
    padding: 3px;
    background: transparent;
    border: none;
    margin: 0;
    outline: none;
  }
  .hamburger__line {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 5px;
    width: 100%;
    height: 4px;
    background: #a6a6a6;
  }
  .hamburger.active .hamburger__line:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .hamburger__line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburger__line:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
            transform: translateY(-11px) rotate(-45deg);
  }
}

@media screen and (max-width: 600px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyright {
    margin: 20px;
  }
  .projectsSection__leftArrow {
    left: 0px;
  }
  .projectsSection__rightArrow {
    right: 0px;
  }
  .projectsSection__frame {
    width: 80vw;
  }
  .skillsSection {
    padding-left: 10%;
    padding-right: 10%;
  }
  .contactSection__form {
    width: 80vw;
  }
}
/*# sourceMappingURL=styles.css.map */