@import "./basics";

header {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 4fr 1fr 10%;
  color: $secondary-color;
  align-items: center;
  background: linear-gradient(to bottom, #fafafa, #fff);
  transform-origin: 50% 0%;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  &.hidden {
    transform: translateY(-100%);
  }
  &.active {
    background: #fff;
    transform: translateY(0);
    box-shadow: 0 1px 5px $secondary-color;
  }
}
.logo {
  text-decoration: none;
  color: $secondary-color;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  &__image {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
}
.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  &__item {
    color: $secondary-color;
    text-decoration: none;
  }
}
.colorMode {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &__image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transition: 300ms;
  }
}

// FIRST SECTION

.aboutSection {
  margin-top: 15vh;
  min-height: 80vh;
  align-items: center;
  padding: 0 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  &__doubleArrows {
    cursor: pointer;
    display: flex;
    bottom: 50px;
    transform: translateX(-50%) rotate(90deg);
    left: 50%;
    position: absolute;
    animation: bounce 2s ease-in-out infinite alternate;
    @keyframes bounce {
      0% {
        transform: translateY(0) translateX(-50%) rotate(90deg);
      }
      100% {
        transform: translateY(20px) translateX(-50%) rotate(90deg);
      }
    }
    &__arrow {
      width: 20px;
      height: 20px;
    }
    &__arrow:first-child {
      position: relative;
      left: 8px;
    }
  }
  &__aboutMeCard {
    padding: 5px 10px 40px;
    transform: rotate(-2deg);
    min-height: 80%;
    width: 80%;
    border: 1px solid $secondary-color;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 200px 1fr;
    &__image {
      width: 100%;
    }
    &__clipIcon {
      position: absolute;
      top: 2px;
      left: 7px;
      width: 20px;
      height: 20px;
      z-index: 1;
    }
    &__mainInfo {
      color: $primary-color;
      padding-left: 20px;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      &__item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        &__icon {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }
    }
    &__secondaryInfo {
      grid-column: 1/3;
      border: 1px solid $secondary-color;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;
      margin: 10px;
      position: relative;
      &__pinIcon {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 3px;
        left: 3px;
      }
    }
  }
  &__svgScene {
    transform: rotate(2deg);
    max-width: 520px;
    max-height: 340px;
  }
}

// SKILSS

.skillsSection {
  min-height: 80vh;
  padding: 150px 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 150px;
  }
  &__skillsCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    grid-template-rows: auto;
    justify-items: center;
    &__singleCard {
      display: flex;
      &__circle {
        margin: 15px;
        flex-shrink: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: $primary-color;
        position: relative;
        &__icon {
          position: absolute;
          width: 40px;
          height: 40px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &__info {
        h3 {
          font-size: 2.4rem;
          font-weight: 500;
        }
        p {
          font-weight: 300;
          line-height: 27px;
        }
      }
    }
  }
  &__additionalInfo {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 70px;
  }
}

// PROJECTS SECTION

.projectsSection {
  min-height: 80vh;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .arrow {
    z-index: 1;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__leftArrow {
    left: 250px;
  }
  &__rightArrow {
    right: 250px;
  }
  .title {
    font-size: 3.2rem;
  }
  &__frame {
    overflow: hidden;
    margin: 50px 0;
    width: 50vw;
    height: 60vh;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    &__projectInfo {
      overflow: hidden;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      width: 250px;
      min-height: 250px;
      position: absolute;
      top: 10px;
      left: 10px;
      background: white;
      transform-origin: left top;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      transform: rotate(-2deg);
      &__pin {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 13px;
        height: 13px;
      }
      &__buttons {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__link {
          text-decoration: none;
          color: $primary-color;
          font-size: 1.2rem;
          font-weight: 500;
          border: 1px solid $primary-color;
          padding: 3px 12px;
        }
      }
      &__description {
        font-weight: 300;
        font-size: 1.3rem;
      }
    }
    &__slider {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      &__image {
        padding: 0 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    &__singleDot {
      margin: 6px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid $primary-color;
      &.active {
        background: $primary-color;
      }
    }
  }
}

// CONTACT SECTION
.contactSection {
  min-height: 60vh;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .title {
    font-size: 3.2rem;
  }
  &__form {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    width: 40%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    &__inputs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__singleInput {
        padding: 9px 25px;
        color: $primary-color;
        font-weight: 500;
        border-radius: 5px;
        outline: none;
        border: 1px solid $secondary-color;
        &:focus {
          border-color: $blueish-color;
        }
      }
    }
    &__textarea {
      padding: 15px;
      resize: none;
      height: 120px;
      border-radius: 5px;
      outline: none;
      border: 1px solid $secondary-color;
      &:focus {
        border-color: $blueish-color;
      }
    }
    &__button {
      padding: 9px 20px;
      border-radius: 30px;
      background: $blueish-color;
      outline: none;
      border: none;
      color: #fff;
      font-weight: 700;
      align-self: flex-start;
    }
  }
}

// FOOTER
footer {
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    color: $primary-color;
    img {
      width: 25px;
      height: 25px;
      margin-right: 8px;
    }
  }
  .copyright {
    flex: 1;
  }
  .social {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 12px;
      width: 35px;
      height: 35px;
      path {
        transition: 200ms all ease-in-out;
      }
      &:hover path {
        fill: $blueish-color;
      }
    }
  }
}
